@import '../core/variables.scss';
.mainpedidos{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    margin: 40px;
    min-height: 100vh;
    gap: 20px;
    &__title{
        text-transform: uppercase;
        font-size: 18px;
        display: flex;
        align-items: center;
    }
    &__buttomadd{
        width: 20px;
        margin-left: 10px;
    }
    &__sectionform{
        padding: 30px 20px;
        border-radius: 10px;
        width: 100%;
    }
}
.formadd{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    &__label{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__submit{
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
    }
}
.sectionlist{
    list-style: none;
    &__list{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        list-style: none;
        &--element{
            display: flex;
            width: 100%;
            background-color: $dark-green-blue;
            padding: 10px;
            border-radius: 10px;
            gap: 15px;
            color: white;
        }
    }
}
.element{
    &__img{
        width: 60px;
        &--src{
            width: 60px;
            height: 60px;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.collapsed{
    display: none;
}