<header class="header">
  <a href="../inicio.html" title="Inicio"><img class="header__logo" src="../assets/images/LogoAlmacenBlanco.png"/></a>
  <nav>
    <ul class="header__list">
      <a href="../almacen.html" title="Almacén"><li class="header__list--element">almacén</li></a>
      <a href="../notes.html" title="Notas"><li class="header__list--element">notas</li></a>
      <a href="../pedidos.html" title="Pedidos"><li class="header__list--element">pedidos</li></a>
      <a href="" title="Perfil"><li class="header__list--element">perfil</li></a>
    </ul>
  </nav>
</header>
