<header class="header">
  <img class="header__logo" src="./assets/images/logo.jpeg" alt="logo"/>
  <nav>
    <ul class="header__list">
      <a href=""><li class="header__list--element">calendario</li></a>
      <a href=""><li class="header__list--element">almacén</li></a>
      <a href=""><li class="header__list--element">notas</li></a>
      <a href=""><li class="header__list--element">pedidos</li></a>
      <a href=""><li class="header__list--element">perfil</li></a>
    </ul>
  </nav>
</header>
