<main class="landingpage">
  <section class="landingContainer">
    <img class="landingContainer__logo" src="./assets/images/LogoAlmacenNegro.png"/>
    <article class="landingContainer__article">
      <p class="landingContainer__article--title">Crea tu almacén virtual</p>
      <p class="landingContainer__article--paragraph">Stock, recordatorios, pedidos y mucho más</p>
    </article>
    <a href="../inicio.html"><button class="landingContainer__buttom">Comenzar</button></a>
  </section>
</main>