<main class="mainpedidos">
    <h2 class="mainpedidos__title">Pedidos</h2>
    <buttom class="mainpedidos__buttomadd">Nuevo pedido</buttom>
    <section class="mainpedidos__sectionform collapsed">
        <form class="formadd">
            <label class="formadd__label" id="article" name="article">
                <input class="formadd__label--input" type="text" placeholder="artículo" name="" id="">
            </label>
            <label class="formadd__label" id="ref" name="ref">
                <input class="formadd__label--input" type="text" placeholder="ref" name="ref" id="ref">
            </label>
            <label class="formadd__label" id="amount" name="amount">
                <input class="formadd__label--input" type="number" placeholder="cantidad" name="amount" id="amount">
            </label>
            <label class="formadd__label" id="date" name="date">
                <input class="formadd__label--input" type="date" placeholder="fecha pedido" name="date" id="date">
            </label>
            <label class="formadd__label" id="pickupdate" name="pickupdate">
                <input class="formadd__label--input" type="date" placeholder="fecha recogida" name="pickupdate" id="pickupdate">
            </label>
            <label class="formadd__label" id="name" name="name">
                <input class="formadd__label--input" type="text" placeholder="nombre cliente" name="name" id="name">
            </label>
            <label class="formadd__label" id="tel" name="tel">
                <input class="formadd__label--input" type="number" placeholder="teléfono contacto" name="tel" id="tel">
            </label>
            <input class="formadd__submit" type="submit" value="Guardar">
        </form>
    </section>
    <section class="sectionlist">
        <ul>
            <li>
                <p>Nombre Artículo</p>
                <p>Ref</p>
                <p>Cantidad</p>
                <p>Fecha pedido</p>
                <p>Fecha recogida</p>
                <p>Nombre cliente</p>
                <p>Teléfono de contacto</p>
                /**checkbox**/
            </li>
        </ul>
    </section>
</main>