<section class="container">
    <p class="container__title">¿Qué artículo necesitas?</p>
    <form class="container__form">
        <input 
            class="input js_in_search_desc container__form--input" 
            type="text" 
            placeholder="Artículo" />
        <input
            class="input js_in_search_race container__form--input"
            type="text"
            name="raza"
            placeholder="Ref"
            id="raza"
        />
        <input type="submit" class="button container__form--submit">
      </form>
</section>
<section class="title-categories">
    <p class="categories__title">categorias</p>
</section>
<section class="categories">
    <article class="categories__cat1 categories__cat">
        <p>CAT1</p>
    </article>
    <article class="categories__cat2 categories__cat">
        <p>CAT2</p>
    </article>
    <article class="categories__cat3 categories__cat">
        <p>CAT3</p>
    </article>
    <article class="categories__cat4 categories__cat">
        <p>CAT4</p>
    </article>
    <article class="categories__cat5 categories__cat">
        <p>CAT5</p>
    </article>
    <article class="categories__cat6 categories__cat">
        <p>CAT6</p>
    </article>
</section>
<section class="newarticle">
    <p class="newarticle__title">Añadir nuevo artículo</p>
    <form class="articleform">
        <label class="articleform__label" id="name">
            <span id="name">Nombre del artículo:</span>
            <input class="articleform__label--input" type="text" placeholder="Nombre articulo" id="name" name="name">
        </label>
        <label class="articleform__label" id="ref">
            <span id="ref">Referencia del artículo:</span>
            <input class="articleform__label--input" type="text" placeholder="Ref" id="ref" name="ref">
        </label>
        <label class="articleform__label" id="categorie">
            <span id="categorie">En que categoría deseas colocarlo?</span>
            <input class="articleform__label--input" type="text" placeholder="Categoria" id="categorie" name="categorie">
        </label>
        <input class="articleform__submit" type="submit">
    </form>
</section>
<section class="data">
    <ul class="data__containerlist">
        <li class="data__containerlist--element">
            <article class="dataelement">
                <div class="dataelement__img">
                    <img class="dataelement__img--src" src=""/>
                </div>
                <div class="dataelement__text">
                    <p class="dataelement__text--title">Nombre del artículo</p>
                    <p class="dataelement__text--ref">Ref:________</p>
                    <p class="dataelement__text--cat">Categoría:_____</p>
                </div>
            </article>
        </li>
        <li class="data__containerlist--element">
            <article class="dataelement">
                <div class="dataelement__img">
                    <img class="dataelement__img--src" src=""/>
                </div>
                <div class="dataelement__text">
                    <p class="dataelement__text--title">Nombre del artículo</p>
                    <p class="dataelement__text--ref">Ref:________</p>
                    <p class="dataelement__text--cat">Categoría:_____</p>
                </div>
            </article>
        </li>
        <li class="data__containerlist--element">
            <article class="dataelement">
                <div class="dataelement__img">
                    <img class="dataelement__img--src" src=""/>
                </div>
                <div class="dataelement__text">
                    <p class="dataelement__text--title">Nombre del artículo</p>
                    <p class="dataelement__text--ref">Ref:________</p>
                    <p class="dataelement__text--cat">Categoría:_____</p>
                </div>
            </article>
        </li>
        <li class="data__containerlist--element">
            <article class="dataelement">
                <div class="dataelement__img">
                    <img class="dataelement__img--src" src=""/>
                </div>
                <div class="dataelement__text">
                    <p class="dataelement__text--title">Nombre del artículo</p>
                    <p class="dataelement__text--ref">Ref:________</p>
                    <p class="dataelement__text--cat">Categoría:_____</p>
                </div>
            </article>
        </li>
    </ul>
</section>