* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #114e4e;
  align-items: center;
  padding: 0 10px;
  padding-right: 20px; }
  .header__logo {
    width: 55px; }
  .header__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    text-transform: capitalize; }

a {
  text-decoration: none;
  color: #f5f5f5; }

.container {
  background-color: #438792;
  height: 150px;
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 15px; }
  .container__title {
    font-family: 'Roboto', sans-serif; }
  .container__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; }
    .container__form--submit {
      background-color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 20px;
      text-transform: uppercase;
      font-size: 10px; }

.title-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 40px; }

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 10px;
  column-gap: 10px;
  row-gap: 10px;
  margin: 20px 40px; }
  .categories__cat {
    background-image: url(../images/calendario.jpeg);
    background-size: 100px;
    border-radius: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center; }

.newarticle {
  margin: 40px 40px;
  background-color: #438792;
  border-radius: 20px;
  padding: 20px; }
  .newarticle__title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 20px;
    text-align: center; }

.articleform {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center; }
  .articleform__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; }
    .articleform__label--input {
      height: 30px; }
  .articleform__message {
    color: red; }
  .articleform__submit {
    padding: 10px 10px;
    background-color: white;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    width: 80%;
    font-size: 12px; }
  .articleform__reset {
    color: #54585a;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 1.67;
    padding: 4px 10px 4px 10px;
    border: 1.5px solid #fff;
    background-color: none;
    border-radius: 20px;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 75px; }
    .articleform__reset--trash {
      padding-right: 8px;
      font-size: 10px; }

.data {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .data__containerlist--element {
    border: 1px solid black;
    list-style: none;
    width: 80vw;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 5px; }

.dataelement {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px; }
  .dataelement__img {
    width: 100px;
    height: 100px; }
    .dataelement__img--src {
      width: 100px; }
  .dataelement__text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px; }
    .dataelement__text--title {
      font-weight: bold; }
    .dataelement__text--ref {
      display: flex;
      gap: 10px; }
    .dataelement__text--cat {
      display: flex;
      gap: 10px; }
    .dataelement__text--stock {
      display: flex;
      gap: 10px; }

.collapsed {
  display: none; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px; }
  .footer__containertext--paragraph {
    font-size: 13px;
    color: #000; }
  .footer__containerimg--logo {
    width: 50px; }

/*font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/

/*# sourceMappingURL=mainstore.css.map */
