.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    &__containertext{
        &--paragraph{
            font-size: 13px;
            color: $pinkish-grey;
        }
    }
    &__containerimg{
        &--logo{
            width: 60px;
        }
    }
}
