.mainpedidos{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
    &__title{
        text-transform: uppercase;
        font-size: 18px;
    }
    &__buttomadd{
        background-color: $dirty-blue;
        border-radius: 5px;
        padding: 7px 15px;
        color: white;
    }
    &__sectionform{
        background-color: $dirty-blue;
        padding: 30px 20px;
        border-radius: 10px;
        width: 80%;
    }
}
.formadd{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    &__submit{
        background-color: white;
        border-radius: 10px;
        padding: 5px;
        border: none;
    }
}
.sectionlist{
    list-style: none;
    width: 90%;
    &__list{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        list-style: none;
        width: 90%;
        &--element{
            display: flex;
        }
    }
}
.collapsed{
    display: none;
}