@import '../core/variables.scss';
.header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: $dark-green-blue;
    align-items: center;
    padding: 0 10px;
    padding-right: 20px;
    &__logo{
        width: 55px;
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        list-style: none;
        text-transform: capitalize;
    }
}
a{
    text-decoration: none;
    color: $white-four;
}