@import '../core/variables.scss';
.general{
    display: flex;
    height: 85vh;
}
.aside{
    display: none;
}
.divTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
    padding-left: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-style: italic;
}
.perfil{
    width: 40px;
    border-radius: 100px;
}
.containerLists{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
}
.nav{
    &__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        &--element{
            border: 0.5px white solid;
            border-radius: 10px;
            padding: 5px 15px;
            width: 90%;
            text-align: center;
            height: 40px;
            line-height: 30px;
            color: black;
            text-decoration: none;
        }
        &--element:hover{
            box-shadow:    0 1px 1px rgba(black, .15),
                            0 3px 10px rgba(black, .15),
                            0 3px 20px rgba(black, .35);
        }
    }
}
.config{
    &__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        &--element{
            border: 0.5px white solid;
            border-radius: 10px;
            padding: 5px 15px;
            width: 90%;
            text-align: center;
            height: 40px;
            line-height: 30px;
            color: black;
            text-decoration: none;
        }
        &--element:hover{
            box-shadow:    0 1px 1px rgba(black, .15),
                            0 3px 10px rgba(black, .15),
                            0 3px 20px rgba(black, .35);
        }
    }
}
.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    gap: 20px;
    &__title{
        font-size: 30px;
    }
}
.containerImg{
    display: flex;
    justify-content: center;
    &__img{
        width: 70%;
    }
}
@media screen and (min-width:764px){
    .aside{
        display: flex;
        flex-direction: column;
        width: 25vw;
        background-color: rgb(212, 213, 212);
        border-radius: 15px;
        margin: 10px 20px;
    }
    .principal{
        width: 75vw;
        height: 100%;
    }
}